.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

.contactButton{
    background-color: #04F6BB;
    padding: 16px 40px;
    color: #111B34;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
}